<section class="row">
	<div class="container">		
		<div class="col s12 m8 l6 offset-s2 offset-l3">
			<div class="card">
				
				<%= form_for(@task) do |f| %>
					<div class="card-content">
						<h1 class="f-2 m-t-0">Editar</h1>
						<div class="row">
							<div class="input-field col s12">
								<%= f.label :name %>
								<%= f.text_field :name %>
							</div>
							
							<div class="col s10">
								<%= f.label :status %>
								<%= f.select(:status) do %>
									<% [['Feita', 1], ['Não feito', 0]].each do |c| %>
										<%= content_tag(:option, c[0], value: c.last, selected: 'selected') %>
									<% end %>
								<% end %>
							</div>
						</div>

					</div>
					<div class="card-action">
						<a href="/" class="btn grey">Voltar</a>
						<%= f.submit 'Alterar', :class => 'btn blue' %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</section>